<html>
    <header class="centrar">
        <h1>Calculadora IMC</h1>
        <p>Pruebas de software</p>
    </header>
    <div class="contenedor">
        <div class="der">
            <div class="centrar">
                <div class="centrar">
                    <h3>Peso en Kilogramos</h3>
                <input type="number" matInput placeholder="peso en kg" class="form-control peso" >
                </div>
                <br>
                <mat-form-field appearance="fill">
                <mat-label>Altura en centimetros</mat-label>
                    <mat-select [(value)]="altura" type="number">       
                        <mat-option *ngFor="let estatura of getEstatura();" value={{estatura}}>{{estatura}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Genero</mat-label>
                    <mat-select [(value)]="genero">
                        <mat-option value="Mujer">Mujer</mat-option>
                        <mat-option value="Hombre">Hombre</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                <mat-label>Edad</mat-label>
                    <mat-select [(value)]="edad" >
                        <mat-option *ngFor="let edad of getAge();" value={{edad}}>{{edad}}</mat-option>
                    </mat-select>
                </mat-form-field>

            <br>
            <div class = "example-button-row">
                <input class="bn" type="button" (click)="calculateImc()" value="Calcular"/>
            </div>
            </div>
        </div>

        <div class="izq">
            <div class = "centrar">
                <h1>RESULTADOS:</h1>
                <mat-list>Estatura:{{altura}}</mat-list>
                <mat-list>Peso:{{peso}}</mat-list>
                <mat-list>Edad:{{edad}}</mat-list>
                <mat-list>Genero:{{genero}}</mat-list>
                <mat-list>IMC:{{imc}}</mat-list>
            </div>
        </div>
    </div>
</html>
